<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0C5BCAC9-45F6-4A7F-A614-7C78E0E5CBDC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>plblackpearl</string>
			<key>text</key>
			<string>pipeline black-pearl</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/GlennWebsite-BlackPearl</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>10033ED7-26D1-4859-A8F9-BA788E820DC2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>aw</string>
			<key>text</key>
			<string>amazon wiki search</string>
			<key>url</key>
			<string>https://w.amazon.com/index.php?search={query}&amp;fulltext=Search</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1233B0E1-0DDD-4B0B-921F-EC2880AC07A7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gaode</string>
			<key>text</key>
			<string>Gaode search</string>
			<key>url</key>
			<string>https://www.amap.com/search?query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>13D2BB58-8A33-4D86-8FB2-BB7ECA2C26BE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cmethodcall</string>
			<key>text</key>
			<string>Amazon code search by method call</string>
			<key>url</key>
			<string>https://code.amazon.com/search?term=method_call%3A+{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>18868FC2-85F5-4BC8-A45E-A3FBB4B91C9E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sage</string>
			<key>text</key>
			<string>amazon sage</string>
			<key>url</key>
			<string>https://sage.amazon.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1E29CE22-D133-4325-B5D5-FB21EF7100B6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yaocr</string>
			<key>text</key>
			<string>Amazon geyao cr</string>
			<key>url</key>
			<string>https://code.amazon.com/reviews/from-user/yaoge?time=month&amp;open=true&amp;pending=true&amp;shipped=true</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1FBF2C7E-B106-4C8D-B88E-ABE08A04A7C3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>plgos</string>
			<key>text</key>
			<string>Amazon pipeline outbound service</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/GlennOutboundService</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>341D9359-1591-4D9A-A740-80E22222A448</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>morganstanley</string>
			<key>text</key>
			<string>Morgan stanley</string>
			<key>url</key>
			<string>https://www.stockplanconnect.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>363C3D03-319A-4508-82A9-A9341323B872</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>emailwebsite</string>
			<key>text</key>
			<string>outlook webiste</string>
			<key>url</key>
			<string>https://ballard.amazon.com/owa/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>36534605-3BFD-4C61-A105-B55974FDC037</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>plblackpearlasset</string>
			<key>text</key>
			<string>Amazon BlackPearl Assets pipeline</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/GlennWebsiteAsset-BlackPearl</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>36C18762-C67E-4C99-9CCE-D224F29A86F1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>p</string>
			<key>text</key>
			<string>amazon phone tool</string>
			<key>url</key>
			<string>https://phonetool.amazon.com/users/{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>37E9A836-44F7-40FA-9E4C-7F9BAE3A80DE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>plglenntransproxyservice</string>
			<key>text</key>
			<string>Amazon pipeline GlennTransProxyService</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/GlennTransProxyService</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>386D2D37-671A-4E7E-B561-52FEA6FA6C1F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>awcontrbt</string>
			<key>text</key>
			<string>amazon wiki contribution</string>
			<key>url</key>
			<string>https://w.amazon.com/index.php?title=Special%3AContributions&amp;tagfilter=&amp;contribs=user&amp;target={query}&amp;namespace=&amp;year=&amp;month=-1</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>394C8E77-00EA-4D00-B603-B335F698234C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wikioewor</string>
			<key>text</key>
			<string>Amazon glenn weekly oe</string>
			<key>url</key>
			<string>https://w.amazon.com/bin/view/Glenn/Operations/WOR/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3968130F-EAB0-4A1F-A7DF-8B1983026EC5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>coralpickbeta</string>
			<key>text</key>
			<string>amazon coral pick na beta</string>
			<key>url</key>
			<string>https://coral.amazon.com/GlennPickAuthorityService/NA/Beta/explorer</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3F12FE5F-C5FA-4EC0-A790-1AF5C9C2F6DA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>iw</string>
			<key>text</key>
			<string>amazon i wiki contrbt</string>
			<key>url</key>
			<string>https://w.amazon.com/index.php?title=Special%3AContributions&amp;tagfilter=&amp;contribs=user&amp;target=jianbang&amp;namespace=&amp;year=&amp;month=-1</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3F3BC1C6-9E77-40C8-BFB3-549A70F4A47D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>oncall</string>
			<key>text</key>
			<string>amazon black pearl oncall</string>
			<key>url</key>
			<string>https://oncall.corp.amazon.com/#/view/black-pearl/schedule</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3FDEEAF6-CE15-41F3-9574-B73E6A405D26</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>crfrom</string>
			<key>text</key>
			<string>amazon cr from sb.</string>
			<key>url</key>
			<string>https://code.amazon.com/reviews/from-user/{query}?open=true&amp;canceled=true&amp;pending=true&amp;shipped=true&amp;time=month</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>45C56ACB-97E3-4166-ACD5-A4E504467764</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>baoxiao</string>
			<key>text</key>
			<string>Amazon 报销</string>
			<key>url</key>
			<string>https://www.concursolutions.com/home.asp</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>461951E6-6A15-47D1-B55E-659D7825FD0C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>plassetblackfalcon</string>
			<key>text</key>
			<string>Amazon pipeline black falcon assets pipeline</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/GlennWebsiteAsset-BlackFalcon</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4FC78789-B4C9-4AC0-8214-C0FBADD56B88</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>plpick</string>
			<key>text</key>
			<string>amazon pipeline pick authority service</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/GlennPickAuthorityService</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>50D73D54-1D3A-429B-9BFF-485390563D58</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>coraltmsna</string>
			<key>text</key>
			<string>amazon coral TMS NA explorer</string>
			<key>url</key>
			<string>https://coral.amazon.com/GlennTaskManagementService/NA/Prod/explorer</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5BB663D6-0E3E-47B7-9274-0B5B11539337</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>c</string>
			<key>text</key>
			<string>amazon code search</string>
			<key>url</key>
			<string>https://code.amazon.com/search?term={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>60C98168-17A1-4060-B985-1BEDB5439E35</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>naload</string>
			<key>text</key>
			<string>Amazon NA prod load</string>
			<key>url</key>
			<string>https://trans-logistics.amazon.com/glenn/outbound/loadExecution</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6353B198-5228-4ADF-A136-C317281A08A7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>crstats</string>
			<key>text</key>
			<string>amazon cr stats by someone</string>
			<key>url</key>
			<string>https://code.amazon.com/cr_stats/team-view/aylei?time=year</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6911C9ED-72C7-438E-B511-B6C8954668DF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cookieoverride</string>
			<key>text</key>
			<string>Amazon cookie TEST IHKA</string>
			<key>url</key>
			<string>https://trans-logistics.amazon.com/glenn/override?useTestNode=true</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>70561CF0-EC1A-4424-934A-1C1904370E6A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>b</string>
			<key>text</key>
			<string>baidu</string>
			<key>url</key>
			<string>https://www.baidu.com/s?wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>70D08C9B-140D-4FE3-97AE-A64839B7772D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>plrms</string>
			<key>text</key>
			<string>amazon pipeline rms</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/GlennResourceManagementService</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>777DCB8A-F32C-4D63-B170-5B61E2A51EAA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>appickcn</string>
			<key>text</key>
			<string>Apollo Pick Authority Service</string>
			<key>url</key>
			<string>https://apollo.amazon.com/environments/GlennPickAuthorityService/CN/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7E0FBAE3-6C1C-4B6C-A1A7-0AF6DEE3E7DE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>timbercn</string>
			<key>text</key>
			<string>amazon timber cn</string>
			<key>url</key>
			<string>https://apollo.amazon.com/environments/TimberFS/PEK/Glenn/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>82FA2F90-A3DB-40B1-B10F-56BC3453E1E9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cnprod</string>
			<key>text</key>
			<string>Amazon CN Prod</string>
			<key>url</key>
			<string>https://trans-logistics-cn.amazon.com/glenn/outbound/loads</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>87FF99BF-384E-4B26-A396-C4DD2CF110DE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>icr</string>
			<key>text</key>
			<string>amazon my cr dashboard</string>
			<key>url</key>
			<string>https://code.amazon.com/reviews/from-user/jianbang?time=month&amp;open=true&amp;pending=true&amp;shipped=true</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8B59A4B0-A4D4-474E-8CFB-BE57DF6B3769</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nabetaload</string>
			<key>text</key>
			<string>Amazon NA beta Load</string>
			<key>url</key>
			<string>https://trans-logistics.integ.amazon.com/glenn/outbound/loadExecution</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>94701A9C-C3BA-461E-9879-2BF1E3EA2B94</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>atttouser</string>
			<key>text</key>
			<string>amazon all tt to sb.</string>
			<key>url</key>
			<string>https://tt.amazon.com/search?assigned_group={query}&amp;search=1&amp;status=Assigned%3BResearching%3BWork+In+Progress%3BPending%3BResolved%3BClosed</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>94948DD4-A6CF-41D2-B34D-5E05E962916E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>translogcn</string>
			<key>text</key>
			<string>Trans  Logistics CN</string>
			<key>url</key>
			<string>https://translogistics.amazon.cn/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A189E758-E511-4734-9805-B47795D0C3DC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>itt</string>
			<key>text</key>
			<string>amazon tt all assigned to me</string>
			<key>url</key>
			<string>https://tt.amazon.com/search?status=Assigned%3BResearching%3BWork+In+Progress%3BPending%3BResolved%3BClosed&amp;assigned_individual=jianbang&amp;search=1</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AB4EF165-02F2-4966-89C3-54CEDB46259D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>beteresourcelist</string>
			<key>text</key>
			<string>Amazon glenn beta resource list</string>
			<key>url</key>
			<string>https://trans-logistics.integ.amazon.com/glenn/resource/list#/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AFF1A0C3-3FC0-4A7C-9BB7-FE5EF3E1D38A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>betaclp</string>
			<key>text</key>
			<string>Amazon glenn beta clp</string>
			<key>url</key>
			<string>https://trans-logistics.integ.amazon.com/glenn/outbound/containerLoadPlanning#/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B469AAD0-4455-4EE4-AD6A-01DDCE7625F3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>coralnabyservicename</string>
			<key>text</key>
			<string>Amazon glenn coral NA by ServiceName</string>
			<key>url</key>
			<string>https://coral.amazon.com/{query}/NA/Prod/explorer</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B99E5242-D4CC-42BE-A0C0-3F01DD949E8A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pkg</string>
			<key>text</key>
			<string>Amazon code by pkg name</string>
			<key>url</key>
			<string>https://code.amazon.com/packages/{query}/trees/mainline</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BACB4443-D305-4DE6-8996-EBCA866E3C74</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ttbynumber</string>
			<key>text</key>
			<string>Amazon tt</string>
			<key>url</key>
			<string>https://tt.amazon.com/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BE8CD5B1-868A-40EB-A337-1E87441DD0E3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>timberna</string>
			<key>text</key>
			<string>apollo timber na</string>
			<key>url</key>
			<string>https://apollo.amazon.com/environments/TimberFS/IAD/Glenn/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BF0CC7C9-F305-467C-ACE7-F099BA254BE4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>deploy</string>
			<key>text</key>
			<string>deployment calendar</string>
			<key>url</key>
			<string>https://w.amazon.com/bin/view/ChangeControlPolicy/Calendar/2020#HMarch</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C2AD4C3A-93BD-46C6-BA5C-B77EEB79DBEA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>plglenndjsscripts</string>
			<key>text</key>
			<string>amazon pipeline GlennDJSScripts</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/GlennDJSScripts</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C510B89F-F4AC-4CAF-BF3F-71AAE8AB833B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>plgw</string>
			<key>text</key>
			<string>pipeline glennwebsite</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/GlennWebsite</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C8EE71A3-DF2D-4980-B4D3-9524E03896C5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stringtrans</string>
			<key>text</key>
			<string>Amazon string translator</string>
			<key>url</key>
			<string>https://translator.amazon.com/search/strings?tag={query}&amp;exact_match=on&amp;text=&amp;locale_invert=false&amp;locale=-1&amp;marketplace_invert=false&amp;marketplace=-1&amp;is_untranslated_locale_by_string=false&amp;untranslated_locale=-1&amp;stringset_invert=false&amp;set=-1&amp;team_invert=false&amp;group=-1&amp;query_id=&amp;last_requested_date_type=within&amp;last_requested_date=&amp;last_updated_date_type=within&amp;last_updated_date=&amp;show_advanced=0</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CAE8B068-C484-4CB9-B7D9-B4FF9714DE5A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>plblackfalcon</string>
			<key>text</key>
			<string>Amazon pipeline GlennWebsite-BlackFalcon</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/GlennWebsite-BlackFalcon</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CD6FA6CA-B007-4A6A-A540-4DD1AE7853E4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>coralpickcn</string>
			<key>text</key>
			<string>amazon coral pick service cn</string>
			<key>url</key>
			<string>https://coral.amazon.com/GlennPickAuthorityService/CN/Prod/explorer</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CE04FA68-3CE5-4546-A510-7232523255A8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tttosb</string>
			<key>text</key>
			<string>tt assigned to sb.</string>
			<key>url</key>
			<string>https://tt.amazon.com/search?status=Assigned%3BResearching%3BWork+In+Progress%3BPending%3BResolved%3BClosed&amp;assigned_individual={query}&amp;search=1</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CFACCED9-394C-432A-8E03-0757C536ADF1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>apoutboundservicecn</string>
			<key>text</key>
			<string>amazon apollo outbound service cn</string>
			<key>url</key>
			<string>https://apollo.amazon.com/environments/GlennOutboundService/CN/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DA11B088-CE1C-43E4-82ED-290C2875CEFC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>att</string>
			<key>text</key>
			<string>amazon all tt to black pearl</string>
			<key>url</key>
			<string>https://tt.amazon.com/search?assigned_group=black-pearl&amp;search=1&amp;status=Assigned%3BResearching%3BWork+In+Progress%3BPending%3BResolved%3BClosed</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DCF2760C-1A16-4337-A504-C33B20CA950F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wikiblackpearl</string>
			<key>text</key>
			<string>Amazon wiki black pearl</string>
			<key>url</key>
			<string>https://w.amazon.com/bin/view/Black_Pearl/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DE1F6EDE-3488-4F7A-88EF-888BC4478C49</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ica</string>
			<key>text</key>
			<string>amazon my code activity</string>
			<key>url</key>
			<string>https://code.amazon.com/users/jianbang/activity</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E326C349-0794-4BDE-A555-B9E092E87B01</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>coralrmsna</string>
			<key>text</key>
			<string>Amazon glenn RMS NA prod coral explorer</string>
			<key>url</key>
			<string>https://coral.amazon.com/GlennResourceManagementService/NA/Prod/explorer</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E51D6119-2BC5-4E5E-A745-9B5725AFF34B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>vsvfi</string>
			<key>text</key>
			<string>amazon version set VFI</string>
			<key>url</key>
			<string>http://apollo-environment.amazon.com/environments/GlennWebsiteAsset-BlackPearl/stages/Prod/revisions/608339460</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E765F0DC-16B6-457E-871A-52B97E63139A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>spblackpearl</string>
			<key>text</key>
			<string>amazon sprint black pearl</string>
			<key>url</key>
			<string>https://issues.amazon.com/sprints/BlackPearl2020/95f618c3-2e2d-4925-aa02-5a4d7a165e82?mode=lanes</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EAB10B26-57BB-4CDC-AE21-79C8691D7F01</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wikireverse</string>
			<key>text</key>
			<string>wiki reverse pick</string>
			<key>url</key>
			<string>https://w.amazon.com/bin/view/Jianbang/PBGO_reverse_pick_and_return/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F19F3044-2647-4A71-9CCA-DAAF1FB4E2AD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>causer</string>
			<key>text</key>
			<string>amazon user code activty</string>
			<key>url</key>
			<string>https://code.amazon.com/users/{query}/activity</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F4951F5A-5388-4974-90CE-9F2B160F1E37</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>icrteam</string>
			<key>text</key>
			<string>CR team level status</string>
			<key>url</key>
			<string>https://code.amazon.com/cr_stats/team-view/jianbang?time=year</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F7109A51-6F3E-4B59-82D8-F174D047413A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>fenxianghui</string>
			<key>text</key>
			<string>amazon 分享会</string>
			<key>url</key>
			<string>https://quip-amazon.com/mEYQAgQqtCVr/Topic</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F7CACDD9-734F-4AB2-9586-DFA8C0621D49</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>coraloutboundcn</string>
			<key>text</key>
			<string>Amazon glenn outbound coral explorer</string>
			<key>url</key>
			<string>https://coral.amazon.com/GlennOutboundService/CN/Prod/explorer</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F8726888-3820-492E-945D-39E6FB37981C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>eagleeye</string>
			<key>text</key>
			<string>Eagle eye</string>
			<key>url</key>
			<string>https://eagleeye-eu.amazon.com/search</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
